<h1>Your title  is {{ title }}</h1>
<!-- The overlay -->
<div id="myNav" class="overlay">
    <div class="overlay-content">
        <a href="{{ path('app_claims_index') }}">Claims</a>
        <a href="{{ path('app_comments_index') }}">Comments</a>
    </div>
</div>
