{% extends 'base.html.twig' %}

{% block title %}Edit Claims{% endblock %}

{% block body %}
    <h1>Edit Claims</h1>

    {{ include('claims/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_claims_index') }}">back to list</a>

    {{ include('claims/_delete_form.html.twig') }}
{% endblock %}
