{% extends 'base.html.twig' %}

{% block title %}New Claims{% endblock %}

{% block body %}
    <h1>Create new Claims</h1>

    {{ include('claims/_form.html.twig') }}

    <a href="{{ path('app_claims_index') }}">back to list</a>
{% endblock %}
